{% extends 'study_abroad_app/base.html' %}

{% block title %}guide{% endblock %}

{% block content %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #f4f4f4;
        }

        p {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        /* Add more styles as needed */
    </style>

    <h2>Étapes d’application :</h2>
    <p> Si vous vous demandez sur les procédures à suivre pour obtenir une bourse en Chine, ce sont les étapes :<br>
        ⦁ Préparation des documents : l'étudiant doit préparer les documents appropriés que nous demandons (Vérifiez la partie des documents ci-dessous) et les envoyer par mail.<br>
        ⦁ Vérification des documents : Notre équipe vérifiez vos documents un par un et assurez-vous que vous les avez bien préparés, pour commencer à chercher des offres adaptées à votre niveau.<br>
        ⦁ Les frais d’application : L'étudiant doit payer les frais du dossier sur notre compte bancaire ou compte postal (ou en espèces dans l'un de nos partenaires), nous utilisons ces frais d'application pour postuler à plusieurs universités afin de vous obtenir la meilleure bourse possible (Vérifiez la politique de remboursement)<br>
        ⦁ Application universitaire : Notre équipe utilise vos frais de candidature pour postuler à des nombreuses bourses, et nous attendons l'acceptation à venir, nous choisissons la meilleure université pour vous.<br>
        <!-- ... (rest of the content) ... -->
    </p>
{% endblock %}
